/* --- CSS Var --- */
:root {
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);

  --color-neutral-dark: hsl(234, 12%, 34%);
  --color-neutral-gray: hsl(229, 6%, 66%);
  --color-neutral-white: hsl(0, 0%, 98%);

  --weigth--light: 200;
  --weigth--regular: 400;
  --weigth--bold: 600;
}

/* --- Reset --- */
body {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1,
h2,
p {
  margin: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
}

/* --- Mobile --- */
.body {
  padding: 60px 30px;
  background-color: var(--color-neutral-white);
}
.header {
  margin-bottom: 50px;
}
/* title -> 50% + del p (estandar) */
/* margenes -> multiplos de 4*/
.principal-title {
  font-size: 1.5rem;
  font-weight: var(--weigth--light);
  color: var(--color-neutral-dark);
  margin-bottom: 12px;
  text-align: center;
}
.principal-title__bold {
  display: block;
  font-weight: var(--weigth--bold);
}
.principal-text {
  color: var(--color-neutral-gray);
  text-align: center;
  line-height: 1.8;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
.card {
  width: min(100%, 300px);
  padding: 20px;
  background-color: #fff;
  border-top: 4px solid var(--color-cyan);
  border-radius: 4px;
  box-shadow: 0 10px 20px 0 hsl(234, 12%, 34%, 20%);
}
.card__title {
  color: var(--color-neutral-dark);
  font-size: 1.2rem;
  margin-bottom: 4px;
}
.card__text {
  color: var(--color-neutral-gray);
  font-size: 0.8rem;
  line-height: 1.8;
  margin-bottom: 28px;
}
.card__img {
  width: 55px;
  display: block;
  margin-left: auto;
}
.card_red {
  border-top-color: var(--color-red);
}
.card_orange {
  border-top-color: var(--color-orange);
}
.card_blue {
  border-top-color: var(--color-blue);
}
.footer {
  position: relative;
  bottom: -52px;
}

/* --- Desktop --- */
@media screen and (min-width: 1010px) {
  .card-container {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .card:nth-child(1),
  .card:nth-child(4) {
    grid-row: span 2;
    align-self: center;
  }
  .card:nth-child(3) {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .card {
    position: relative;
    height: 200px;
  }
  .animation_right {
    animation-name: animation_right;
    animation-duration: 2.8s;
  }
  .animation_left {
    animation-name: animation_left;
    animation-duration: 2.8s;
  }
  .animation_top {
    animation-name: animation_top;
    animation-duration: 2.8s;
  }
  .animation_bottom {
    animation-name: animation_bottom;
    animation-duration: 2.8s;
  }
}

@keyframes animation_right {
  0% {
    right: 330px;
  }
  100% {
    right: 0;
  }
}
@keyframes animation_left {
  0% {
    left: 330px;
  }
  100% {
    left: 0;
  }
}
@keyframes animation_top {
  0% {
    top: 115px;
  }
  100% {
    top: 0;
  }
}
@keyframes animation_bottom {
  0% {
    bottom: 115px;
  }
  100% {
    bottom: 0;
  }
}
